@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS */
.form-input {
  @apply block w-full py-2 px-3 border border-gray-300 bg-white rounded-md focus:outline-none focus:ring-indigo-500 text-sm text-gray-700;
}

/* Custom CSS */
.title-on-image {
  position: absolute;
  top: 20%; /* Adjust the value to move the title up */
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 0.1rem; /* Adjust the font size as desired */
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
  font-family: sans-serif; /* Set the font family to sans-serif */
}

.head-text {
  position: relative;
}

.text-on-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.bg-navy-blue {
  background-color: rgb(112, 112, 180);
}

.text-white {
  color: white;
}

.hover:text-gray-100:hover {
  color: #FFFFFF;
}
.bg-navy-blue {
  background-color: rgb(61, 61, 126);
}


