@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS */
.form-input {
  @apply block w-full py-2 px-3 border border-gray-200 bg-white rounded-md focus:outline-none focus:ring-indigo-500 text-sm;
}

/* Custom CSS */
.title-on-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-text {
  position: relative;
}

.text-on-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
